<update id="{{statementName}}" parameterType="map">
    {{#ass}}
        {{#joinTable}}UPDATE {{table}}
            SET
            {{#joinColumns}}{{^-first}}, {{/-first}}{{local.name}} = #{ {{local.name}} }{{/joinColumns}}
            {{#inverseJoinColumns}}{{local.name}} = #{ {{local.name}} }{{/inverseJoinColumns}}
            <where>
                {{#joinColumns}}
                    <if test="{{local.name}} != null">AND {{local.name}} = #{ {{local.name}} }</if>
                {{/joinColumns}}
                {{#inverseJoinColumns}}
                    <if test="{{local.name}} != null">AND {{local.name}} = #{ {{local.name}} }</if>
                {{/inverseJoinColumns}}
            </where>
        {{/joinTable}}
    {{/ass}}
</update>
