<insert id="{{statementName}}" parameterType="map">
    {{#ass}}
        {{#joinTable}}INSERT INTO {{table}} (
            {{#joinColumns}}{{^-first}}, {{/-first}}{{local.name}}{{/joinColumns}}
            {{#inverseJoinColumns}}, {{local.name}}{{/inverseJoinColumns}}
            ) VALUES (
            {{#joinColumns}}{{^-first}}, {{/-first}}#{ {{local.name}} }{{/joinColumns}}
            {{#inverseJoinColumns}}, #{ {{local.name}} }{{/inverseJoinColumns}}
            ){{/joinTable}}
    {{/ass}}
</insert>
