<sql id="{{statementName}}">
    <trim suffixOverrides=",">
        {{#domain}}
            {{#primaryKey}}{{#columns}}{{#quote}}{{alias}}{{/quote}}.{{name}},{{/columns}}{{/primaryKey}}
            {{#columns}}{{#quote}}{{alias}}{{/quote}}.{{name}},{{/columns}}
            {{#embeddedDomains}}
                {{#columns}}{{#quote}}{{alias}}{{/quote}}.{{name}},{{/columns}}
            {{/embeddedDomains}}
            {{#manyToOneAssociations}}
                {{#columns}}{{#quote}}{{alias}}{{/quote}}.{{name}},{{/columns}}
            {{/manyToOneAssociations}}
        {{/domain}}
    </trim>
</sql>
