<sql id="{{statementName}}">
    <trim suffixOverrides=",">
        {{#domain}}
            {{#primaryKey}}{{#columns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/columns}}{{/primaryKey}}
            {{#normalColumns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/normalColumns}}
            {{#versionColumns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/versionColumns}}
            {{#embeddings}}
                {{#primaryKey}}{{#columns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/columns}}{{/primaryKey}}
                {{#normalColumns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/normalColumns}}
                {{#versionColumns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/versionColumns}}
            {{/embeddings}}
            {{#manyToOneAssociations}}
                {{#leftJoin}}
                    {{#normalColumns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/normalColumns}}
                    {{#versionColumns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/versionColumns}}
                    {{#embeddings}}
                        {{#primaryKey}}{{#columns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/columns}}{{/primaryKey}}
                        {{#normalColumns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/normalColumns}}
                        {{#versionColumns}}{{#quote}}{{tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{columnAlias}}{{/quote}}, {{/versionColumns}}
                    {{/embeddings}}
                {{/leftJoin}}
                {{^leftJoin}}{{#foreignKey}}{{#columns}}{{#local}}{{#quote}}{{model.tableAlias}}{{/quote}}.{{name}} AS {{#quote}}{{name}}{{/quote}}, {{/local}}{{/columns}}{{/foreignKey}}{{/leftJoin}}
            {{/manyToOneAssociations}}
        {{/domain}}
    </trim>
</sql>
