<select id="${statementName}" resultMap="${resultMap}">
    <include refid="__select"/>
    <where>
        <include refid="__where_clause_by_ids"/>
        ${conditionQuery}
    </where>
    <include refid="__standard_sort"/>
</select>
