<sql id="{{statementName}}">
{{#domain}}
    {{table}} {{#quote}}{{tableAlias}}{{/quote}}
    {{#oneToOneAssociations}}
        {{#leftJoin}}
            LEFT JOIN {{table}} {{#quote}}{{tableAlias}}{{/quote}} ON
            {{#foreignKey}}
                {{#columns}}{{#local}}{{#quote}}{{model.tableAlias}}{{/quote}}.{{name}}{{/local}} = {{#foreign}}{{#quote}}{{model.tableAlias}}{{/quote}}.{{name}}{{/foreign}}{{/columns}}
            {{/foreignKey}}
        {{/leftJoin}}
    {{/oneToOneAssociations}}
    {{#manyToOneAssociations}}
        {{#leftJoin}}
            LEFT JOIN {{table}} {{#quote}}{{tableAlias}}{{/quote}} ON
            {{#foreignKey}}
                {{#columns}}{{#local}}{{#quote}}{{model.tableAlias}}{{/quote}}.{{name}}{{/local}} = {{#foreign}}{{#quote}}{{model.tableAlias}}{{/quote}}.{{name}}{{/foreign}}{{/columns}}
            {{/foreignKey}}
        {{/leftJoin}}
    {{/manyToOneAssociations}}
{{/domain}}
</sql>
