<select id="{{statementName}}" parameterType="{{parameterType}}"
        resultMap="{{resultMap}}">
    SELECT * FROM {{table}}
    <where>
        <include refid="__where_clause_by_id"/>
    </where>
</select>
