{{#domain}}
    <select id="{{statementName}}"
            parameterType="{{#primaryKey}}{{type.name}}{{/primaryKey}}"
            resultMap="{{resultMap}}">
        <include refid="__select"/>
        <where>
            <include refid="__where_clause_by_id"/>
        </where>
    </select>
{{/domain}}
