{{#domain}}
    <insert id="{{statementName}}" parameterType="{{entity.type.name}}">
        {{#primaryKey}}
            {{#generatedKeys}}
                {{#columns}}
                    <selectKey keyProperty="{{property.name}}" keyColumn="{{name}}"
                               order="{{executeOrder}}"
                               resultType="{{javaTypeString}}">{{keySql}}</selectKey>
                {{/columns}}
            {{/generatedKeys}}
        {{/primaryKey}}
        INSERT INTO {{table}}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            {{#primaryKey}}
                {{^excludeInsertId}}
                    {{#columns}}
                        <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                            {{name}},
                        </if>{{/columns}}
                {{/excludeInsertId}}
            {{/primaryKey}}
            {{#normalColumns}}
                <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">{{name}},</if>
            {{/normalColumns}}
            {{#versionColumns}}
                <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">{{name}},</if>
            {{/versionColumns}}
            {{#embeddings}}
                {{#primaryKey}}
                    {{#columns}}
                        <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                            {{name}},
                        </if>
                    {{/columns}}
                {{/primaryKey}}
                {{#normalColumns}}
                    <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                        {{name}},
                    </if>
                {{/normalColumns}}
                {{#versionColumns}}
                    <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                        {{name}},
                    </if>
                {{/versionColumns}}
            {{/embeddings}}
            {{#oneToOneAssociations}}
                {{#foreignKey}}
                    {{#columns}}{{#local}}<if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">{{name}},</if>{{/local}}{{/columns}}
                {{/foreignKey}}
            {{/oneToOneAssociations}}
            {{#manyToOneAssociations}}
                {{#foreignKey}}
                    {{#columns}}{{#local}}<if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">{{name}},</if>{{/local}}{{/columns}}
                {{/foreignKey}}
            {{/manyToOneAssociations}}
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            {{#primaryKey}}
                {{^excludeInsertId}}
                    {{#columns}}
                        <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                            #{ {{propertyName}}{{#javaType}}
                            ,javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}}
                            ,jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}}
                            ,typeHandler={{typeHandler.name}}{{/typeHandler}} },
                        </if>
                    {{/columns}}
                {{/excludeInsertId}}
            {{/primaryKey}}
            {{#normalColumns}}
                <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                    #{ {{propertyName}}{{#javaType}}
                    ,javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}}
                    ,jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}}
                    ,typeHandler={{typeHandler.name}}{{/typeHandler}} },
                </if>
            {{/normalColumns}}
            {{#versionColumns}}
                <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                    #{ {{propertyName}}{{#javaType}}
                    ,javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}}
                    ,jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}}
                    ,typeHandler={{typeHandler.name}}{{/typeHandler}} },
                </if>
            {{/versionColumns}}
            {{#embeddings}}
                {{#primaryKey}}
                    {{#columns}}
                        <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                            #{ {{propertyName}}{{#javaType}}
                            ,javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}}
                            ,jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}}
                            ,typeHandler={{typeHandler.name}}{{/typeHandler}}
                            },
                        </if>
                    {{/columns}}
                {{/primaryKey}}
                {{#normalColumns}}
                    <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                        #{ {{propertyName}}{{#javaType}}
                        ,javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}}
                        ,jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}}
                        ,typeHandler={{typeHandler.name}}{{/typeHandler}} },
                    </if>
                {{/normalColumns}}
                {{#versionColumns}}
                    <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                        #{ {{propertyName}}{{#javaType}}
                        ,javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}}
                        ,jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}}
                        ,typeHandler={{typeHandler.name}}{{/typeHandler}} },
                    </if>
                {{/versionColumns}}
            {{/embeddings}}
            {{#oneToOneAssociations}}
                {{#foreignKey}}
                    {{#columns}}{{#foreign}}
                        <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                            #{ {{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} },
                        </if>
                    {{/foreign}}{{/columns}}
                {{/foreignKey}}
            {{/oneToOneAssociations}}
            {{#manyToOneAssociations}}
                {{#foreignKey}}
                    {{#columns}}{{#foreign}}
                    <if test="{{#testNotNull}}{{propertyName}}{{/testNotNull}}">
                        #{ {{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} },
                    </if>
                    {{/foreign}}{{/columns}}
                {{/foreignKey}}
            {{/manyToOneAssociations}}
        </trim>
    </insert>
{{/domain}}
