<insert id="{{statementName}}" parameterType="{{parameterType}}"
        keyProperty="{{keyProperty}}" keyColumn="{{keyColumn}}"
        useGeneratedKeys="{{useGeneratedKeys}}">
    {{#useGeneratedKeys}}
        <selectKey keyProperty="{{keyProperty}}" keyColumn="{{keyColumn}}"
                   order="{{order}}" resultType="{{keyType}}">{{keySql}}</selectKey>
    {{/useGeneratedKeys}}
    INSERT INTO {{table}}
    <trim prefix="(" suffix=")" suffixOverrides=",">
        {{#properties}}
            {{#selective}}
            <if test="{{#testNotNull}}{{key}}{{/testNotNull}}">{{/selective}}
            {{value.name}},
            {{#selective}}</if>{{/selective}}
        {{/properties}}
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides=",">
        {{#properties}}
            {{#selective}}
            <if test="{{#testNotNull}}{{key}}{{/testNotNull}}">{{/selective}}
            #{ {{key}}{{#value.jdbcType}}
            ,jdbcType={{value.jdbcType}}{{/value.jdbcType}}{{#value.typeHandler}}
            ,typeHandler={{value.typeHandler.name}}{{/value.typeHandler}} },
            {{#selective}}</if>{{/selective}}
        {{/properties}}
    </trim>
</insert>
