<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated Mapper XML (${resource}) -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${namespace}">
#foreach($statement in $statements)
$statement
#end
</mapper>
