<select id="{{statementName}}" parameterType="map" resultMap="{{resultMap}}">
    <include refid="__select"/>
    {{#ass}}
        {{#joinTable}}
            LEFT JOIN {{table}} {{#quote}}{{tableAlias}}{{/quote}} ON
            {{#inverseJoinColumns}}
                {{^-first}} AND {{/-first}}
                {{#quote}}{{tableAlias}}{{/quote}}.{{local.name}} = {{#quote}}{{joinTable.targetModel.tableAlias}}{{/quote}}.{{foreign.name}}
            {{/inverseJoinColumns}}
            WHERE
            {{#joinColumns}}
                {{^-first}} AND {{/-first}}
                {{#quote}}{{tableAlias}}{{/quote}}.{{local.name}} = #{ {{foreign.name}} }
            {{/joinColumns}}
        {{/joinTable}}
    {{/ass}}
</select>
