{{#domain}}
    <resultMap id='{{statementName}}' type='{{entity.type.name}}'>
        {{#primaryKey}}
            {{#columns}}
            <id property='{{propertyName}}' column='{{columnAlias}}' {{#jdbcType}}jdbcType='{{jdbcType.name}}'{{/jdbcType}} {{#javaType}}javaType='{{javaTypeString}}'{{/javaType}} {{#typeHandler}}typeHandler='{{typeHandler.name}}'{{/typeHandler}} />
            {{/columns}}
        {{/primaryKey}}
        {{#versionColumns}}
            <result property='{{propertyName}}' column='{{columnAlias}}' {{#jdbcType}}jdbcType='{{jdbcType.name}}'{{/jdbcType}} {{#javaType}}javaType='{{javaTypeString}}'{{/javaType}} {{#typeHandler}}typeHandler='{{typeHandler.name}}'{{/typeHandler}} />
        {{/versionColumns}}
        {{#normalColumns}}
            <result property='{{propertyName}}' column='{{columnAlias}}' {{#jdbcType}}jdbcType='{{jdbcType.name}}'{{/jdbcType}} {{#javaType}}javaType='{{javaTypeString}}'{{/javaType}} {{#typeHandler}}typeHandler='{{typeHandler.name}}'{{/typeHandler}} />
        {{/normalColumns}}
        {{#embeddings}}
            <association property="{{property.name}}" javaType="{{property.type.name}}">
                {{#primaryKey}}{{#columns}}
                    <id property='{{property.name}}' column='{{columnAlias}}' {{#jdbcType}}jdbcType='{{jdbcType.name}}'{{/jdbcType}} {{#javaType}}javaType='{{javaTypeString}}'{{/javaType}} {{#typeHandler}}typeHandler='{{typeHandler.name}}'{{/typeHandler}} />
                {{/columns}}{{/primaryKey}}
                {{#normalColumns}}
                    <result property='{{property.name}}' column='{{columnAlias}}' {{#jdbcType}}jdbcType='{{jdbcType.name}}'{{/jdbcType}} {{#javaType}}javaType='{{javaTypeString}}'{{/javaType}} {{#typeHandler}}typeHandler='{{typeHandler.name}}'{{/typeHandler}} />
                {{/normalColumns}}
            </association>
        {{/embeddings}}
        {{#manyToOneAssociations}}
            {{#leftJoin}}
            <association property='{{property.name}}' javaType='{{property.type.name}}' resultMap='{{property.type.name}}.{{statementName}}' columnPrefix='{{property.name}}.'>
            </association>
            {{/leftJoin}}
            {{^leftJoin}}
            <association property='{{property.name}}' javaType='{{property.type.name}}' fetchType='{{fetchType}}'>
            </association>
            {{/leftJoin}}
        {{/manyToOneAssociations}}
        {{#oneToOneAssociations}}
            {{#leftJoin}}
                <association property='{{property.name}}' javaType='{{property.type.name}}' resultMap='{{property.type.name}}.{{statementName}}' columnPrefix='{{property.name}}.'>
                </association>
            {{/leftJoin}}
            {{^leftJoin}}
                <association property='{{property.name}}' javaType='{{property.type.name}}' fetchType='{{fetchType}}'>
                </association>
            {{/leftJoin}}
        {{/oneToOneAssociations}}
        {{#oneToManyAssociations}}
            <collection property='{{property.name}}' ofType='{{property.actualType.name}}' select='{{property.actualType.name}}.__association_{{domain.table}}_{{property.name}}' column='{ {{#joinColumns}}{{^-first}} , {{/-first}}{{foreign.name}}={{foreign.name}}{{/joinColumns}} }' fetchType='{{fetchType}}'>
            </collection>
        {{/oneToManyAssociations}}
        {{#manyToManyAssociations}}
            <collection property='{{property.name}}' ofType='{{property.actualType.name}}' select='{{property.actualType.name}}.__association_{{domain.table}}_{{property.name}}' column='{ {{#joinTable}}{{#joinColumns}}{{^-first}} , {{/-first}}{{foreign.name}}={{foreign.name}}{{/joinColumns}}{{/joinTable}} }' fetchType='{{fetchType}}'>
            </collection>
        {{/manyToManyAssociations}}
    </resultMap>
{{/domain}}
