{{#hasConstructor}}
    <resultMap id="{{result}}" type="{{resultMapType}}">
        <constructor>
            {{#constructorParameters}}
                <arg column="{{column}}" javaType="{{javaType}}"/>
            {{/constructorParameters}}
        </constructor>
    </resultMap>
{{/hasConstructor}}

{{#isPageQuery}}
    <select id="{{countStatementName}}" resultType="long">
        {{countQuery}}
    </select>
{{/isPageQuery}}

{{#isUnpagedQuery}}
    <select id="{{unpagedStatementName}}"
            {{#isResultMap}}resultMap="{{result}}"{{/isResultMap}}{{^isResultMap}}resultType="{{result}}"{{/isResultMap}}>
        {{unpagedQuery}}
        {{#hasSort}}
            <include refid="__standard_sort"/>{{/hasSort}}
    </select>

{{/isUnpagedQuery}}

<select id="{{statementName}}"
        {{#isResultMap}}resultMap="{{result}}"{{/isResultMap}}{{^isResultMap}}resultType="{{result}}"{{/isResultMap}}>
    {{#pageable}}
        {{#limitHandler}}{{query}}{{#hasSort}}
            <include refid="__standard_sort"/>{{/hasSort}}{{/limitHandler}}
    {{/pageable}}
    {{^pageable}}
        {{query}}{{#hasSort}}
        <include refid="__standard_sort"/>{{/hasSort}}
    {{/pageable}}
</select>
