<sql id="{{statementName}}">
    <if test="__sort != null">
        {{#domain}}
            <bind name="__columnsMap"
                  value='#{ "____":""{{#primaryKey}}{{#columns}},"{{propertyName}}":"{{#escapeQuotes}}{{#quote}}{{tableAlias}}{{/quote}}{{/escapeQuotes}}.{{name}}"{{/columns}}{{/primaryKey}}{{#normalColumns}},"{{propertyName}}":"{{#escapeQuotes}}{{#quote}}{{tableAlias}}{{/quote}}{{/escapeQuotes}}.{{name}}"{{/normalColumns}}{{#versionColumns}},"{{propertyName}}":"{{#escapeQuotes}}{{#quote}}{{tableAlias}}{{/quote}}{{/escapeQuotes}}.{{name}}"{{/versionColumns}}{{#embeddings}}{{#primaryKey}}{{#columns}},"{{propertyName}}":"{{#escapeQuotes}}{{#quote}}{{tableAlias}}{{/quote}}{{/escapeQuotes}}.{{name}}"{{/columns}}{{/primaryKey}}{{#normalColumns}},"{{propertyName}}":"{{#escapeQuotes}}{{#quote}}{{tableAlias}}{{/quote}}{{/escapeQuotes}}.{{name}}"{{/normalColumns}}{{#versionColumns}},"{{propertyName}}":"{{#escapeQuotes}}{{#quote}}{{tableAlias}}{{/quote}}{{/escapeQuotes}}.{{name}}"{{/versionColumns}}{{/embeddings}} }'/>
        {{/domain}}
        ORDER BY
        <foreach collection="__sort" item="item" index="idx" open="" close=""
                 separator=",">
            <if test="item.ignoreCase">{{lowercaseFunction}}(</if>
            ${__columnsMap[item.property]}
            <if test="item.ignoreCase">)</if>
            ${item.direction.name()}
        </foreach>
    </if>
</sql>
