{{#domain}}
<update id="{{statementName}}">
    UPDATE {{table}}
    <set>
        {{#normalColumns}}
            <if test="{{#testNotNull}}__entity.{{propertyName}}{{/testNotNull}}">
                {{name}} = #{ __entity.{{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} },
            </if>
        {{/normalColumns}}
        {{#versionColumns}}
            {{name}} = {{name}} + 1,
        {{/versionColumns}}
        {{#embeddings}}
            {{#primaryKey}}
                {{#columns}}
                    <if test="{{#testNotNull}}__entity.{{propertyName}}{{/testNotNull}}">
                        {{name}} = #{ __entity.{{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} },
                    </if>
                {{/columns}}
            {{/primaryKey}}
            {{#normalColumns}}
                <if test="{{#testNotNull}}__entity.{{propertyName}}{{/testNotNull}}">
                    {{name}} = #{ __entity.{{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} },
                </if>
            {{/normalColumns}}
            {{#versionColumns}}
                {{name}} = {{name}} + 1,
            {{/versionColumns}}
        {{/embeddings}}
        {{#oneToOneAssociations}}
            {{#foreignKey}}
                {{#joinColumns}}
                    {{#local}}
                    <if test="{{#testNotNull}}__entity.{{propertyName}}{{/testNotNull}}">
                        {{name}} = #{ __entity.{{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} },
                    </if>
                {{/local}}
                {{/joinColumns}}
            {{/foreignKey}}
        {{/oneToOneAssociations}}
        {{#manyToOneAssociations}}
            {{#foreignKey}}
                {{#columns}}
                    {{#local}}
                        <if test="{{#testNotNull}}__entity.{{propertyName}}{{/testNotNull}}">
                            {{name}} = #{ __entity.{{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} },
                        </if>
                    {{/local}}
                {{/columns}}
            {{/foreignKey}}
        {{/manyToOneAssociations}}
    </set>
    <where>
        {{^byId}}
            {{#primaryKey}}
                {{#columns}}
                    AND {{name}} = #{ __entity.{{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} }
                {{/columns}}
            {{/primaryKey}}
        {{/byId}}
        {{#byId}}
            {{#primaryKey}}
                {{#columns}}
                    AND {{name}} = {{#composited}}#{ __id.{{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} }{{/composited}}
                    {{^composited}}#{__id}{{/composited}}
                {{/columns}}
            {{/primaryKey}}
        {{/byId}}
        {{#versionColumns}}
            AND {{name}} = #{ __entity.{{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} }
        {{/versionColumns}}
        {{#embeddedDomains}}
            <if test="{{#testNotNull}}__entity.{{property.name}}{{/testNotNull}}">
                {{#versionColumns}}
                    AND {{name}} = #{ __entity.{{propertyName}}{{#javaType}},javaType={{javaTypeString}}{{/javaType}}{{#jdbcType}},jdbcType={{jdbcType.name}}{{/jdbcType}}{{#typeHandler}},typeHandler={{typeHandler.name}}{{/typeHandler}} }
                {{/versionColumns}}
            </if>
        {{/embeddedDomains}}
    </where>
</update>
{{/domain}}
