{{#domain}}
<sql id="{{statementName}}">
    <if test="__ids != null">
        <trim prefixOverrides="AND |OR ">
            {{#primaryKey}}
                {{^composited}}
                    {{#columns}}
                        AND {{#quote}}{{tableAlias}}{{/quote}}.{{name}} IN
                        <foreach collection="__ids" item="item" index="index" open="("
                                 separator="," close=")">
                            #{item}
                        </foreach>
                    {{/columns}}
                {{/composited}}
                {{#composited}}
                    <foreach collection="__ids" item="item" index="index" open="("
                             separator=") OR (" close=")">
                        {{#columns}}
                            {{^-first}} AND {{/-first}}
                            {{#quote}}{{tableAlias}}{{/quote}}.{{name}} = #{ item.{{property.name}} }
                        {{/columns}}
                    </foreach>
                {{/composited}}
            {{/primaryKey}}
        </trim>
    </if>
</sql>
{{/domain}}
